<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; background: #000; margin-bottom: 20px;">
    <iframe 
        src="https://www.youtube.com/embed/eq8r1ZTma08" 
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>

<h4>Pengertian Algoritma</h4>
<p>
    Algoritma adalah serangkaian instruksi atau langkah-langkah logis yang disusun secara sistematis untuk menyelesaikan suatu masalah atau mencapai tujuan tertentu. Algoritma dapat ditulis dalam bentuk koding maupun pseudo-code yang tujuan akhirnya agar mudah dipahami dan diimplementasikan oleh komputer. Dalam kehidupan sehari-hari, pemrograman sering digunakan dalam berbagai bidang.
    Bayangkan seperti resep masakan, di mana setiap langkah harus diikuti secara berurutan untuk menghasilkan hidangan yang lezat. Algoritma dirancang untuk memecahkan masalah yang sederhana maupun masalah yang bersifat kompleks. Algoritma menjadi aspek paling penting saat developer membuat program dengan menggunakan bahasa pemrograman apapun. Pasalnya, hasil akhir dari program yang dibuat tersebut tergantung dari algoritma yang telah ditulis.
</p>

<h4>Fungsi Algoritma</h4>
<p>
    Seperti yang sudah disinggung sebelumnya, algoritma ini bertujuan untuk membantu memecahkan masalah secara lebih sistematis dan terstruktur, sehingga solusi dapat ditemukan dengan mudah. Untuk fungsi utama dari algoritma sendiri adalah membantu para programmer dalam merancang maupun menulis kode secara efektif, efisien dan bisa dipahami dengan mudah. Selain yang sudah disebutkan di atas, berikut adalah beberapa fungsi lain dari algoritma pemrograman yang wajib kamu ketahui.
    <ol>
        <li>Menyederhanakan program yang rumit dan besar menjadi lebih sederhana, sehingga penggunaannya bisa lebih efektif dan efisien.</li>
        <li>Memudahkan untuk cepat menemukan kesalahan dalam program saat terjadi eror dan bisa segera diatasi segera karena alurnya yang jelas dan runtut.
        </li>
        <li>Proses modifikas menjadi lebih mudah karena tidak perlu merubah seluruh modul, namun cukup mengubah modul yang berkaitan saja.
        </li>
        <li>Membantu menyelesaikan permasalahan yang kompleks pada programs serta meminimalisir kesalahan penghitungan matematis tingkat tinggi.
        </li>
        <li>Script yang telah dibuat secara urut dan sistematis membuat proses pengembangan menjadi lebih mudah.
        </li>
        <li>Bisa digunakan berulang kali dan tidak perlu repot menuliskan kembali program yang sama, sehingga lebih memudahkan dalam membuat program.
        </li>
    </ol>
</p>